
<!-- When game is in join stage -->
<section *ngIf="game.stage === 'join'">
    <app-prompt [promptText]="'Waiting for players to join...'"></app-prompt>
</section>

<!-- When game is in response stage -->
<section *ngIf="game.stage === 'response'">
    <app-prompt [promptText]="this.prompt.text"></app-prompt>
    <div class="d-grid my-4" *ngIf="this.responded==false">
        <form class="row" [formGroup]="responseForm" (submit)="sendResponse()">
            <input formControlName="text" type="text" name="text" class="response form-control mx-auto col-auto">
            <input type="submit" name="submit" value="Submit" class="btn-primary col-md-2 mx-2">
            <!-- <app-menu-button [label]="'Submit'" type="submit" name="submit" ></app-menu-button> -->
        </form>
    </div>
    <!-- If this player has responded but not all players have responded show wait message -->
    <div *ngIf="this.responded==true && this.allResponses==false">
        <app-prompt [promptText]="'Waiting for all player responses...'"></app-prompt>
    </div>
</section>

<!-- When game is in vote stage -->
<!-- nfIf phase is voting: show answers & vote on click -->
<section *ngIf="this.stage === 'vote'">
    <app-prompt [promptText]="this.prompt.text"></app-prompt>
    <div class="container text-center" *ngIf="voted == false">
        <div *ngFor="let response of responses" (click)="sendVote($event)"
        class="border border-primary my-2 p-4 fs-4" style="width: 400px;">{{response.responseText}}</div>
    </div>
    <div *ngIf="voted == true">
        <app-prompt [promptText]="'Waiting for votes...'"></app-prompt>
    </div>
</section>

<!-- When game is in score stage -->