<!-- ngIf responding > show prompt + response component -->
<app-prompt [promptText]="this.prompts | json"></app-prompt>
<section class="d-grid my-4">
    <form class="row" [formGroup]="responseForm" (submit)="sendResponse()">
        <input type="text" name="response" class="response form-control mx-auto col-auto" maxlength="50">
    </form>
    <div class="row mx-auto">
        <app-menu-button type="submit" [label]="'Submit'" class="submit"></app-menu-button>
    </div>
</section>
<!-- nfIf voting > show answers & vote on click -->