<section class="d-flex justify-content-center align-items-center form">
    <div class="row">
        <form action="">
            <input type="text" name="code" placeholder="CODE" minlength="4" required="required"
            class="col-md-4 mx-2 text-uppercase">
            <input type="text" name="name" placeholder="NAME" minlength="1" maxlength="12" required="required" 
            class="col-md-4 mx-2 text-uppercase">
            <input type="submit" name="submit" class="btn-primary col-md-2 mx-2">
        </form>
    </div>
</section>
